nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.navbar-nav {
    margin: 0 auto;
}

a {
    color: #646464 !important;
    font-weight: 400;
}

.nav-item {
    cursor: pointer;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: rgba(224, 224, 224, 0.484);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}
