<div class="dashboard">
    <div class="dashboard-intro">
        <div class="container">
            <h1>Hi, I'm Tebogo Ledwaba</h1>
            <h2 class="typewriter">and I am a Front-End Developer.</h2>
            <div>
                <img class="image" src="../../../assets/images/IMG_3055-removebg-preview.jpg" />
            </div>
            <span>
                Hi there, I'm MEAN stack Developer with expertise in developing and maintaining scalable web
                applications, specializing in Angular 15+ & Typescript, and
                proficient in utilizing NgRx for state management to create dynamic and interactive user interfaces,
                with a focus on frontend development
                APIs using Mongoose, MongoDB, Express.jS, and Node.js. I excel in
                architecting efficient and secure API solutions that ensure optimal performance and seamless
                integration.
                Through my problem-solving abilities, attention to detail, and collaborative nature, I consistently
                deliver high-quality code within project timelines. Continuously learning and staying updated with
                emerging technologies, I am committed to driving success by leveraging my skills and passion for
                creating exceptional applications.
            </span>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/tebogo-ledwaba-83896a185/"
                    class="linkedin animate__animated animate__backInLeft">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/TebogoLedwab" class="github animate__animated animate__backInRight">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<app-about-me></app-about-me>