<div class="dashboard">
    <div class="dashboard-intro">
        <div class="header">
            <div class="dash">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/dashboard.svg" />
                    </div>
                    <div class="col intro">
                        <h2 class="animate__animated animate__backInLeft">My Name is <strong>Tebogo Ledwaba</strong></h2>
                        <p>I am a Front-end Developer and UI/UX Developer. <br> My main areas of expertise include Angular, Javascript, Typescript, Node.js</p>
                    </div>
                </div>
            </div>
               
        </div>
    </div>
</div>