<div class="dashboard">
    <div class="dashboard-intro">
        <div class="container">
            <h1>Tebogo Ledwaba</h1>
            <h2 class="typewriter">Front-End Developer</h2>
            <div>
                <img class="image" src="../../../assets/images/IMG_3055-removebg-preview.jpg" />
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quibusdam porro minima totam assumenda
                eum eveniet esse, eaque nostrum minus suscipit, mollitia aspernatur iste amet quam dignissimos vitae
                optio dolorem?
            </p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/tebogo-ledwaba-83896a185/" class="linkedin animate__animated animate__backInLeft">
                   <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/TebogoLedwab" class="github animate__animated animate__backInRight">
                    <i class="bi bi-github"></i>
                </a>
              </div>
        </div>
    </div>
</div>